/* Cascading Style Sheets for LordOfKhaos /home/index.html */
/* All rights reserved. */

.logo {
  color: red;
  text-align: center;
  font: Times New Roman, serif;
  font-size: 18px;
  float: left;
  padding: 5px;
  margins: 0px;
}

.navbar {
  background-color: dimgrey;
}

.background {
  image-size: cover;
  background-color: darkgray;
  background-image: url(#);
}

#topnav {
  list-type: none;
}

#topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

#subnav {
  background-color: black;
}

#bodyhead {
  font-size: 24px;
}
